{% from 'bootstrap/form.html' import render_form %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Description!!">
    <title>Connectune</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <div class="container">
        <div class="vertical-centre">
            <h1 class="login-title">Connectune</h1>
            <p>Connect with your friends through music!</p>
        
            {{ render_form(form) }}
            <p>{{ message }}</p>

            <!--
            <form>
                <div class="username-section">
                    <label for="username">Username</label>
                    <input id="username" type="text">
                </div>
        
                <div class="password-section">
                    <label for="password">Password</label>
                    <input id="password" type="text">
                </div>
        
                <div class="login-button">
                    <input type="button" value="Log In">
                </div>
            </form>
            -->
        </div>
    </div>
</body>

</html>